* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(212, 45%, 89%);
  font-family: Outfit;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  max-width: 311px;
  box-shadow: 0px 17px 19px -7px rgba(20, 19, 29, 0.18);

}

img {
  width: 17.5rem;
  margin-top: 1rem;
  border-radius: 14px;
}

p:first-of-type {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 1.5rem;
  text-align: center;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

p:nth-of-type(2) {
  color: hsl(220, 15%, 55%);
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  text-align: center;
}

.attribution {
  /* padding-top: 2rem; */
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(207, 63%, 54%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(207, 74%, 66%);
}
